<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Random Walk </title>
		<meta name="description" content="A tool for finding your next adventure.">
		<meta name="author" content="TJ Torres">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">

		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='css/typeahead.css')}}" rel="stylesheet">

		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet">
		

		<!-- Font Awesome CSS -->
		<link href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.css')}}" rel="stylesheet">

		<!-- Plugins -->
		<link href="{{ url_for('static', filename='css/animations.css')}}" rel="stylesheet">

		<!-- Worthy core CSS file -->
		<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

		<!-- Custom css --> 
		<link href="{{ url_for('static', filename='css/custom.css')}}" rel="stylesheet">

		<!-- Tree css --> 
		<link href="{{ url_for('static', filename='css/tree.css')}}" rel="stylesheet">


		<!-- Leaflet css --> 

		<link href="{{ url_for('static', filename='css/leaflet.css')}}" rel="stylesheet">
		<link rel="stylesheet" href="//rawgit.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.css">


		<!-- Marker Cluster css --> 
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css">

   		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css">

   		<!-- justified gallery -->


   		<!--<link href="{{ url_for('static', filename='css/justifiedGallery.min.css')}}" rel="stylesheet">-->

   		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-63945205-1', 'auto');
		  ga('send', 'pageview');

		</script>



	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start -->
		<!-- ================ --> 
		<header class="header fixed clearfix navbar navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<!-- header-left start -->
						<!-- ================ -->
						<div class="header-left clearfix">

							<!-- logo -->
							<div class="logo smooth-scroll">
								<a href="#banner"><img id="logo" src="static/images/Random_line_32.png" alt="Random Walk"></a>
							</div>

							<!-- name-and-slogan -->
							<div class="site-name-and-slogan smooth-scroll">
								<div class="site-name"><a href="#banner">Random Walk</a></div>
								<div class="site-slogan">A simple tool to find adventure.</div>
								<div class="site-name">
								<form class="form-horizontal" >
									        <div class="input-group-sm" id="dropdown">
									        
									          
									          <input type="text" class="form-control" class="twitter-typeahead" data-provide="typeahead" placeholder="Scenery Search"  id="srch-term">
									      
									        </div>
									    </form>
									    </div>
							</div>

						</div>
						<!-- header-left end -->

					</div>
					<div class="col-md-8">

						<!-- header-right start -->
						<!-- ================ -->
						<div class="header-right clearfix">

							<!-- main-navigation start -->
							<!-- ================ -->
							<div class="main-navigation animated">

								<!-- navbar start -->
								<!-- ================ -->
								<nav class="navbar navbar-default" role="navigation">
									<div class="container-fluid">


										<!-- Toggle get grouped for better mobile display -->
										<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
												<span class="sr-only">Toggle navigation</span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
												<span class="icon-bar"></span>
											</button>
										</div>

										<!-- Collect the nav links, forms, and other content for toggling -->
										<div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
										
											<ul class="nav navbar-nav navbar-right">

												<li class="active"><a href="#map">Map</a></li>
												<li><a href="#portfolio">Photos</a></li>
												<li><a href="#network">Network</a></li>
												<li><a href="#about">About</a></li>
												<li><a href="#contact">Me</a></li>
												<li><a href="http://slides.com/tjtorres/random-walk/live" target="_blank">Slides</a></li>
											</ul>
										</div>

									</div>
								</nav>
								<!-- navbar end -->

							</div>
							<!-- main-navigation end -->

						</div>
						<!-- header-right end -->

					</div>
				</div>
			</div>
		</header>
		<!-- header end -->

		<!-- banner start -->
		<!-- ================ -->
		<div class="banner">
			<div class="folium-map" id="map" style="width: 100%;height: 550px; " >
			
			</div>
		</div>
		
		
		<!-- banner end -->

		<!-- section start -->
		<!-- ================ -->
	<div class=" translucent-bg  pb-clear">
		<div class="section bg-image-2 " >
			<div class="container">
				<h1 class="text-center title" id="portfolio">Recent Photos</h1>
				<div class="separator"></div>
				<p class="lead text-center">Discover some of the latest pictures from Flickr.</BR> Mouseover photos to see their scenery category. </BR>Click on scenes you like to discover others like them on the map. </p>
				<br>			
				<div class="row object-non-visible" data-animation-effect="fadeIn" >
					<div class="col-md-12" id="port">

						

						
						<!-- portfolio items end -->
					
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- section end -->


		<!-- section start -->
		<!-- ================ -->
		
		<div class="section " >
			<div  id="network">
				
						<h1 class="text-center">Heirarchy Network Tree</h1>
						<p class="lead text-center"> 
						This graphic shows the heirarchical structure of the different scenery categories available. </BR>Search through it to find the right type of scenery you want. </p>

						<p class="lead text-center"></BR>The size of the final categorization represents the frequency of occurance of that type of scenery. </BR>Pan and zoom around the network tree. </BR>Click on the blue shaded nodes to see the sub-categories. </BR>Click on the orange nodes to search for that category on the map. 
						</BR>
						</p>
						<div class="separator"></div>
						<div id="tree-container"></div>
					</div>
				</div>
			
	
		<!-- section end -->

		<!-- section start -->
		<!-- ================ -->
		
		<div class="section clearfix object-non-visible pb-clear bg-image-1" data-animation-effect="fadeIn">
			<div class="container ">
				<div class="row">
					<div class="col-md-12">
						<h1 id="about" class="title text-center">About <span>Random Walk</span></h1>
						<p class="lead text-center">Explore scenery you enjoy through the photographs of others.</p>
						<div class="space"></div>
						<div class="row">
							<div class="col-md-6">
								<img src="static/images/neural_network.gif" style="border-radius: 5px; opacity: 0.8;" alt="Neural Network">
								<div class="space"></div>
							</div>
							<div class="col-md-6">
								<p>
									Random Walk allows you to choose or search for a type of scenery and explore areas with photographs that have been identified, through machine learning and image processing, to have similar scenery.
								</p> 
								<p>
									Use the search bar to discover the available scenery classes and bring up markers identified to have the same type of environment on the map. 
								</p>
								<p>
									Or explore and click on the recent Flickr photos to bring up markers to automatically do a map search for that type of scenery. 
								</p>
								<p>
									Use this app to:
								</p>
								<ul class="list-unstyled">
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Find areas around you to explore in your free time.</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Find interesting locations to visit while traveling.</li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Plan a date or vacation. </li>
									<li><i class="fa fa-caret-right pr-10 text-colored"></i> Discover new areas to take photos.</li>
								</ul>
							</div>
						</div>
						<div class="space"></div>
						<h2>How does it work?</h2>
						<div class="row">
							<div class="col-md-6">
							<p>
								This app runs by analyzing images in the <a href="http://webscope.sandbox.yahoo.com/catalog.php?datatype=i&did=67">Yahoo Flickr Creative Commons 100 Million</a> photo dataset as well as the most recent photos uploaded by Flickr users. Once the photos are obtained, they are first filtered so that only those with GPS metadata are kept, and then sent off to be classified in terms of scenery.
							</p>
							<p>
								The scenery in each image is classified via a cutting edge deep learning technique utilizing a Convolutional Neural Network that has been trained on 2.5 million images (<a href="http://places.csail.mit.edu/downloadCNN.html">PlacesCNN</a>). The neural network analyzes the pixels in the image and their surrounding pixels to determine important features that are most descriptive of the image's scenery then assigns probabilities to each of 205 scenery classes. 
							</p>
							<p>
								To read more about the inner workings, please see my <a href"http://tjtorres.github.io">blog</a>, or view the code for yourself on <a href="https://github.com/tjtorres/Random-Walk">GitHub</a>.
							</p>
							</div>
							<!--
							<div class="col-md-6">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
													Collapsible Group Item #1
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
											</div>
										</div>
									</div>

									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingTwo">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
													Collapsible Group Item #2
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
											<div class="panel-body">
												Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingThree">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
													Collapsible Group Item #3
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
											<div class="panel-body">
												Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
											</div>
										</div>
									</div>
								</div>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->



		<!-- footer start -->
		<!-- ================ -->
		<footer id="footer">

			<!-- .footer start -->
			<!-- ================ -->
			<div class="footer section">
				<div class="container">
					<h1 class="title text-center" id="contact">About <span>Me</span></h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-12">
							<div class="footer-content">
								<p class="large lead text-center">My name is TJ Torres. I recently received my PhD in theoretical high energy physics studying holographic models of cosmic inflation and am now a Data Science Fellow at Insight Data Science.</p>
								
								<ul class="social-links text-center">
									
									<li class="btn-linkedin linkedin"><a target="_blank" href="https://www.linkedin.com/in/tjtorres"><i class="fa fa-linkedin"></i></a></li>
									<li class="btn-github github"><a target="_blank" href="https://github.com/tjtorres"><i class="fa fa-github"></i></a></li>
									
								</ul>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>
			<!-- .footer end -->

			<!-- .subfooter start -->
			<!-- ================ -->
			<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2015 Random Walk by <a target="_blank" href="https://github.com/tjtorres">TJ Torres</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->

		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/modernizr.js') }}"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/isotope/isotope.pkgd.min.js') }}"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.backstretch.min.js') }}"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.appear.js') }}"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/typeahead.jquery.min.js') }}"></script>

		<script type="text/javascript" src="{{ url_for('static', filename='js/search-load.js') }}"></script>



		<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>

		<script src="//rawgithub.com/lvoogdt/Leaflet.awesome-markers/2.0/develop/dist/leaflet.awesome-markers.js"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
   		<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

   		<script src="{{ url_for('static', filename='js/lazysizes.min.js') }}" async""></script>
		
		<script type="text/javascript" src="{{ url_for('static', filename='js/mapper.js') }}"></script>

		<!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.justifiedGallery.min.js') }}"></script>-->
		<script type="text/javascript" src="{{ url_for('static', filename='js/pic-grabber.js') }}"></script>

		<script src="{{ url_for('static', filename='js/dndTree.js') }}"></script>



		
	<div class="modal"><!-- Place at bottom of page --></div>

	</body>
</html>
